<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloudhearing.ealbum.mapper.DeviceMapper">
    <resultMap id="DeviceResultMap" type="Device">
        <id column="id" property="id"/>
        <result column="activate_time" property="activateTime"/>
        <result column="last_online_time" property="lastOnlineTime"/>
        <result column="region" property="region"/>
        <result column="model" property="model"/>
        <result column="sn" property="sn"/>
        <result column="firmware_version" property="firmwareVersion"/>
        <result column="used_space" property="usedSpace"/>
        <result column="total_space" property="totalSpace"/>
        <result column="email" property="email"/>
        <result column="jpush_id" property="jpushId"/>
        <collection property="owners" columnPrefix="user_"
                    resultMap="com.cloudhearing.ealbum.mapper.UserMapper.UserResultMap"/>
    </resultMap>

    <select id="listAll" resultMap="DeviceResultMap">
        select* from devices
    </select>

    <select id="getDeviceByID" resultMap="DeviceResultMap">
        select device.id,device.activate_time,device.last_online_time,device.region,model,device.sn,
        device.firmware_version,device.used_space,device.total_space,device.email,device.jpush_id,
        user.id user_id,user.username user_username, user.icon user_icon, user.cell_number user_cell_number,
        user.region user_region,user.cell_model user_cell_model,user.reg_time user_reg_time,user.email user_email,user.jpush_id user_jpush_id
        from devices device
        left join user_device ud
        on ud.device_id = device.id
        left join users user
        on ud.user_id = user.id
        where device.id =#{id}

    </select>


    <insert id="addDevice" parameterType="Device">
        insert into devices
        (id, activate_time, last_online_time,region,model,sn,firmware_version,jpush_id
        )
        values
        (uuid(),now(),now(),#{region},#{model},#{sn},#{firmwareVersion},#{jpushId})
    </insert>

    <update id="updateDevice">
        update devices
        <set>
            <if test="region != null">
                region = #{region},
            </if>

            <if test="model != null">
                model = #{model},
            </if>

            <if test="firmwareVersion != null">
                firmware_version = #{firmwareVersion},
            </if>

            <if test="usedSpace != 0">
                used_space = #{usedSpace},
            </if>

            <if test="totalSpace != 0">
                total_space = #{totalSpace},
            </if>

            <if test="email != null">
                email = #{email},
            </if>

            <if test="jpushId != null">
                jpush_id = #{jpushId},
            </if>

        </set>
        where id=#{id}
    </update>

    <insert id="bindDeviceToUser" parameterType="String">
        insert into user_device
        (id, user_id, device_id,bind_time)
        values
        (uuid(),#{userId},#{deviceId},now())
    </insert>

</mapper>
