<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloudhearing.ealbum.mapper.ResourceAddressMapper">
    <resultMap id="ResourceAddressResultMap" type="ResourceAddress">
        <id column="id" property="id"/>
        <result column="resource_address" property="resourceAddress"/>
        <result column="space" property="space"/>
        <result column="storage_id" property="storageId"/>
        <result column="create_time" property="createTime"/>
        <result column="state" property="state"/>
        <result column="type" property="type"/>
        <result column="preview_pic" property="previewPic"/>
        <association property="uploader" resultMap="com.cloudhearing.ealbum.mapper.UserMapper.UserResultMap"
                     columnPrefix="user_"/>
        <association property="device" resultMap="com.cloudhearing.ealbum.mapper.DeviceMapper.DeviceResultMap"
                     columnPrefix="device_"/>
    </resultMap>

    <!--<select id="checkLogin" resultMap="UserResultMap">-->
    <!--select id, username, icon,region,cell_model,-->
    <!--reg_time,email,cell_number-->
    <!--from users-->
    <!--where (email =#{email} and password =#{password} and state = 1)-->
    <!--or (cell_number =#{cellNumber} and password =#{password} and state = 1)-->
    <!--</select>-->

    <select id="listAll" resultMap="ResourceAddressResultMap">
        select resource.id,
        resource.resource_address,resource.space,resource.storage_id,
        resource.create_time,resource.state,resource.type,resource.preview_pic,
        resource.device_sn, resource.uploader_id user_id, user.username user_username, user.jpush_id user_jpush_id,
        device.jpush_id device_jpush_id
        from resources resource
        left join devices device
        on resource.device_sn = device.sn
        left join users user
        on resource.uploader_id = user.id
        where resource.state = 1
        order by resource.create_time desc
        <!--select *-->
        <!--from resources-->
        <!--where state = 1-->
        <!--order by create_time desc-->
    </select>

    <select id="findAllByDeviceSN" resultMap="ResourceAddressResultMap" parameterType="String">
        <!--select * from resources where state=1 and device_sn=#{deviceSN} order by create_time desc-->
        select resource.id,
        resource.resource_address,resource.space,resource.storage_id,
        resource.create_time,resource.state,resource.type,resource.preview_pic,
        resource.device_sn, resource.uploader_id user_id, user.username user_username, user.jpush_id user_jpush_id,
        device.jpush_id device_jpush_id
        from resources resource
        left join devices device
        on resource.device_sn = device.sn
        left join users user
        on resource.uploader_id = user.id
        where resource.state = 1 and resource.device_sn=#{deviceSN}
        order by resource.create_time desc
    </select>

    <insert id="addResourceAddress">
        insert into resources
        (id, resource_address, device_sn, space, storage_id, create_time, state, type ,preview_pic, uploader_id)
        values
        (uuid(),#{resourceAddress},#{device.sn},#{space},#{storageId},now(),1,#{type},#{previewPic},#{uploader.id})
    </insert>

    <update id="removeResourceAddress">
        update resources
        set state=0
        where id = #{id}
    </update>

    <!--<update id="editUser">-->
    <!--update users-->
    <!--<set>-->
    <!--<if test="username != null">-->
    <!--username = #{username},-->
    <!--</if>-->

    <!--<if test="icon != null">-->
    <!--icon = #{icon},-->
    <!--</if>-->

    <!--<if test="region != null">-->
    <!--region = #{region},-->
    <!--</if>-->

    <!--<if test="icon != null">-->
    <!--icon = #{icon},-->
    <!--</if>-->

    <!--<if test="cellModel != null">-->
    <!--cell_model = #{cellModel},-->
    <!--</if>-->

    <!--<if test="email != null">-->
    <!--email = #{email},-->
    <!--</if>-->

    <!--<if test="cellNumber != null">-->
    <!--cell_number = #{cellNumber},-->
    <!--</if>-->

    <!--<if test="password != null">-->
    <!--password = #{password},-->
    <!--</if>-->

    <!--<if test="jpushId != null">-->
    <!--jpush_id = #{jpushId},-->
    <!--</if>-->

    <!--</set>-->
    <!--where id=#{id}-->
    <!--</update>-->

</mapper>
