<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cloudhearing.ealbum.mapper.ResourceAddressMapper">
    <resultMap id="ResourceAddressResultMap" type="ResourceAddress">
        <id column="id" property="id"/>
        <result column="resource_address" property="resourceAddress"/>
        <result column="device_id" property="deviceId"/>
        <result column="space" property="space"/>
        <result column="storage_id" property="storageId"/>
        <result column="create_time" property="createTime"/>
        <result column="state" property="state"/>
        <result column="type" property="type"/>
    </resultMap>

    <!--<select id="checkLogin" resultMap="UserResultMap">-->
    <!--select id, username, icon,region,cell_model,-->
    <!--reg_time,email,cell_number-->
    <!--from users-->
    <!--where (email =#{email} and password =#{password} and state = 1)-->
    <!--or (cell_number =#{cellNumber} and password =#{password} and state = 1)-->
    <!--</select>-->

    <select id="listAll" resultMap="ResourceAddressResultMap">
        select *
        from resources
        where state = 1
        order by create_time desc
    </select>

    <select id="findAllByDeviceID" resultMap="ResourceAddressResultMap" parameterType="String">
        select *
        from resources
        where state = 1 and device_id=#{deviceId}
        order by create_time desc
    </select>

    <insert id="addResourceAddress" parameterType="ResourceAddress">
        insert into resources
        (id, resource_address, device_id, space, storage_id, create_time, state, type )
        values
        (uuid(),#{resourceAddress},#{deviceId},#{space},#{storageId},now(),1,#{type})
    </insert>

    <update id="removeResourceAddress">
        update resources
        set state=0
        where id = #{id}
    </update>

    <!--<update id="editUser">-->
    <!--update users-->
    <!--<set>-->
    <!--<if test="username != null">-->
    <!--username = #{username},-->
    <!--</if>-->

    <!--<if test="icon != null">-->
    <!--icon = #{icon},-->
    <!--</if>-->

    <!--<if test="region != null">-->
    <!--region = #{region},-->
    <!--</if>-->

    <!--<if test="icon != null">-->
    <!--icon = #{icon},-->
    <!--</if>-->

    <!--<if test="cellModel != null">-->
    <!--cell_model = #{cellModel},-->
    <!--</if>-->

    <!--<if test="email != null">-->
    <!--email = #{email},-->
    <!--</if>-->

    <!--<if test="cellNumber != null">-->
    <!--cell_number = #{cellNumber},-->
    <!--</if>-->

    <!--<if test="password != null">-->
    <!--password = #{password},-->
    <!--</if>-->

    <!--<if test="jpushId != null">-->
    <!--jpush_id = #{jpushId},-->
    <!--</if>-->

    <!--</set>-->
    <!--where id=#{id}-->
    <!--</update>-->

</mapper>
